<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>Liste des Telephones</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="~{template}"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Liste des Telephones</div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nom Telephone</th>
                    <th>Prix Telephone</th>
                    <th>Date Creation</th>
                    <th>Statut</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                </tr>
                <tr th:each="p:${tels.content}">
                    <td th:text="${p.idtel}"></td>
                    <td th:text="${p.nomTel}"></td>
                    <td th:text="${p.prixTel}"></td>
                    <td th:text="${p.dateCreation}"></td>
                    <td th:if="${p.statut != null}" th:text="${p.statut.nomSat}"></td>
                    <td th:if="${p.statut == null}">Pas de Statut</td>
                    <td>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr ?')"
                           th:href="@{supprimerTel(id=${p.idtel},page=${currentPage},size=${size})}">
                            Supprimer
                        </a>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           class="btn btn-success"
                           th:href="@{modifierTel(id=${p.idtel},page=${currentPage},size=${size})}">
                            Editer
                        </a>
                    </td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                       th:href="@{listeTelephones(page=${status.index},size=${size})}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>